@import "tailwindcss";



#root {
  height: 200dvh;
}


.holo-menu-container {
  position: fixed;
  /* Faz com que o HoloMenu fique fixo na tela */
  top: 50%;
  /* Posiciona no meio da tela verticalmente */
  left: 50%;
  /* Posiciona no meio da tela horizontalmente */
  transform: translate(-50%, -50%);
  /* Centraliza completamente */
  z-index: 10;
  /* Garante que o HoloMenu fique sobre a cena 3D */
}

canvas {
  display: block;
  /* Remove margens indesejadas do canvas */
  position: fixed;
  /* Evita que role junto com a página */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
}